@model IEnumerable<Safari.Entities.Precio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Precios</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoServicioId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDesde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaHasta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoServicio.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDesde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.ActionLink("Eliminar", "Delete", new { id = item.TipoServicioId, fechad = item.FechaDesde, fechah = item.FechaHasta })
            </td>
        </tr>
    }

</table>
