@model Safari.Entities.Cita

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea eliminarlo?</h3>
<div>
    <h4>Cita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PacienteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PacienteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoServicioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoServicioId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
