@model PagedList.IPagedList<Safari.Entities.Cita>

@using PagedList;
@using PagedList.Mvc;



<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Citas</h2>



@using (Html.BeginForm("Index", "Cita", FormMethod.Get))
{
    <p>
        Buscar por Nombre: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Buscar" />
    </p>
}


<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.ActionLink("Fecha", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.Raw("Apellido del Medico")
        </th>
        <th>
            @Html.ActionLink("Paciente", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.Raw("Nombre de la Sala")
        </th>
        <th>
            @Html.Raw("Nombre del Servicio")
        </th>
        <th>
            @Html.Raw("Estado")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoServicio.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Cancelar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
