@model IEnumerable<Safari.Entities.Cita>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Vista Auditora de Citas</h2>


<table class="table" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PacienteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoServicioId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeleteBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medico.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sala.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoServicio.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeleteBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeletedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deleted)
        </td>
    </tr>
}

</table>
